* {
margin: 0;
padding: 0;
list-style-type:none;
}
header {
	height:50px;
	width:100%;
	position:fixed;
	background:rgba(0,0,0,0.9);
	z-index:120;
}
header li {
	float: right;
	list-style-type:none;
	border-right: 1px solid #252525;
}
header li a {
	float: left;
	width: 98px;
	height: 12px;
	padding: 20px 7px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font: normal 90.5% "proxima-nova-alt", Helvetica, Arial, sans-serif;
}
header ul li:hover{
	opacity: 0.5;
}
header .logo {
	float: left;
	width: 200px;
	height: 12px;
	padding: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	font: normal 150% "proxima-nova-alt", Helvetica, Arial, sans-serif;
}

div.class{
	font-family: 'Lobster';
	margin-left: 20px;
	font-size: 35px;
	margin-top: 20px;
}
p{
	font-family: 'Roboto Condensed';
	margin-left: 20px;
	font-size: 20px;
	width: 850px;
	text-align: justify;
	margin-top: 20px;
}
footer {
	position:absolute;
	top: 1050px;
	left: 10px;
    padding: 0.5em;
	width: 100%;
    background-color: black;
    text-align: center;
	margin-top: 20px;
}
.fa-facebook{
	padding: 10px;
	font-size: 30px;
	width: 15px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 30%;
	color: black;
  background-color: white;
}
.fa-google{
	padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  color: black;
  background-color: white;
}
.fa-twitter{
	padding: 10px;
  font-size: 30px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 30%;
  color: black;
  background-color: white;
}
.fa:hover{
	opacity: 0.5;
}
