* {
margin: 0;
padding: 0;
list-style-type:none;
}
header {
	height:50px;
	width:100%;
	position:fixed;
	background:rgba(0,0,0,0.9);
	z-index:120;
}
header li {
	float: right;
	list-style-type:none;
	border-right: 1px solid #252525;
}
header li a {
	float: left;
	width: 98px;
	height: 12px;
	padding: 20px 7px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font: normal 90.5% "proxima-nova-alt", Helvetica, Arial, sans-serif;
}
header ul li:hover{
	opacity: 0.5;
}
header .logo {
	float: left;
	width: 200px;
	height: 12px;
	padding: 10px 0px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	font: normal 150% "proxima-nova-alt", Helvetica, Arial, sans-serif;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/* Six columns side by side */
.column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
	margin-top:20px;
	margin-left: 35px;
}
.columnn {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
	margin-left:35px;
	margin-top:20px;
}

